<div class="custom-container container viewport">
    <ng-include src="'/static/html/angular_app/templates/top-default-navbar.html'"></ng-include>
    <div class="row content-block scrollable">
        <div class="container issue-entry" data-ng-cloak>
            <nav class="navbar above-jumbotron">
                <div class="container">
                    <span>
                        <a class="back-to-issues" href="/issues">Back to issues</a>
                    </span>
                </div>
            </nav>

            <div class="jumbotron">
                <h1 class="issue-title">
                    {{data.issue.title}}
                    <a href="{{data.issue.html_url}}">
                        #{{data.issue.number}}
                    </a>
                </h1> 
                <div class="desc">
                    <div class="label status-{{data.issue.state}}">
                        <i class='fa fa-exclamation-circle'></i>
                        <span class='text'>
                            {{data.issue.state}}
                        </span>
                    </div>

                    <div class="info">
                        <span class="user">
                            <a 
                                href="{{data.issue.user.html_url}}"
                            >{{data.issue.user.login}}</a>
                        </span>
                        <span class="action-text">
                            opened this issue <time relative datetime="{{data.issue.created_at}}"></time>
                        </span>
                        <span class="summary-text">· {{data.issue.comments}} comment{{(data.issue.comments > 1) ? 's': '';}}</span> 
                    </div>
                </div> 
            </div>
            
            <comment-entry
                data-ng-if='pagination_data.current_page === 1'
                comment="data.issue"
            >        
            </comment-entry>  
            
            <comment-entry
                data-ng-repeat="comment in data.comments"
                comment="comment"
            >        
            </comment-entry>
            
            <pagination-controls
                d="pagination_data"
            >        
            </pagination-controls>
        </div>    
    </div>    
</div>