<nav class="navbar navbar-default navbar-top">
    <div class="custom-container">
      <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="/static/img/logotype-testio.png"></img>
            </a>
            <a href="/logout" class="logout pull-right">
                <img class="logout" src="/static/img/ico-logout.svg"/>
                <span>Logout</span>
            </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
</nav>