// General
$box_border_radius: 5px;
$background_color: #f5f5f5;
$navbar_top_color: #ffffff;

// Desktop (xs)
$h1_issue_list_font_size: 40px;

// Mobile phone (xs-)
$xs_hX_font_size_ratio: 0.6; 
$xs_hX_font_size_ratio: 0.6; 

html,
body {
    height: 100%;
}

.viewport {
    height: 100%;
    width: 100%;
     overflow: hidden; 
}

.content-block {
    height: calc(100% - 15%);
    color: white;
}

body {
    background-color: $background_color;
}

.custom-container {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.navbar.navbar-top {
    background-color: $navbar_top_color;
    margin-bottom: 0px;
    box-shadow: 0 0 2px #B2B2B2;
    height: 15%;
}

/* https://stackoverflow.com/a/20531911/1597960 */
.profile-pic {
    width: 64px;
    height: 64px;
    background-color: red;
    border-radius: 32px;
    margin-right: 10px;
    float: left;
    background-size: 64px 64px;
}

.comment-wrapper {
	overflow:hidden;
	width: auto;
}

.comment {
    min-height: 100px;
    background-color: #ffffff;
    width: 98%;
}

.comment header {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    padding: 23px;
}

.comment .content {
	padding: 29px;
	color: #666666;
}

.comment .content p {
	padding-bottom: 10px;
}

.container .jumbotron {
    box-shadow: 0 0 2px #B2B2B2;
    padding-top: 35px;
    padding-bottom:  28px;
    padding-left:  40px;
    padding-right:  40px;
}

a.back-to-issues:before{
    content: '';
    background:url('/static/img/ico-back.svg');
    /* width of the image */
    width: 17px;/* height of the image */
    height: 15px;
    display: inline-block;
    margin-right:8px;
}

a.back-to-issues {
	color: #85b32b;
	font-size:13pt;
}

a.back-to-issues:hover {
	text-decoration: underline;
}

.container.issue-entry .jumbotron {
    background-color: #ffffff;
}

.navbar.above-jumbotron {
	margin-top: 39px;
	margin-bottom: 32px;
	min-height: 0px;
}

.navbar-header {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-brand {
	height: initial;
    padding: 0;
    font-size: initial;
}

.navbar>.custom-container .navbar-brand {
    margin-left: 50px;	
}

h1.issue-title {
	font-size: $h1_issue_list_font_size;
	color: rgba(51, 51, 51, 255);
	text-align: left;
	margin-top:  0px;
}

h1.issue-title a {
	color: rgba(153, 153, 153, 255);
}

.jumbotron .desc {margin-top: 0px;}

.jumbotron .desc .label {
    display: inline-block;   
    font-size: 14px;
    color: white;
    text-align: left;
    padding: 9px 10px;
}

.jumbotron .desc .info {
	display:inline-block;
	vertical-align:middle;
	margin-left:20px;
}

.jumbotron .desc .label {
    text-transform: uppercase;
}

.jumbotron .desc .status-open {
    background-color: #9fd533; 
}

.jumbotron .desc .status-closed {
    background-color: #cb2431; 
    opacity: 0.25;
}

.info {
	font-size: 11pt;
	color: #999999;
	text-align: left;
}

.info .user a {
	color: #85b32b;
}

.navbar.above-jumbotron .container {
	padding: 0px;
}

a img.logout {
    
}

.navbar-header {
    width: 100%;
}

a.logout {
    color: rgba(47, 50, 84, 255);
    display: block;
    margin-right: 50px;
    line-height: 30px;
}

a.logout span {vertical-align: middle;}

a.logout:hover {
    text-decoration: none;
    color: #99cc33;
}

.right-block .row {
    background: url('/static/img/a_man_squatting_on_a_plank_100opacity.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.issue-list-entry .status {
    width: 16px;
    height: 16px;
    margin-right: 19px;
    float: left;
}

.issue-list-entry {
	border-radius: $box_border_radius;
	background-color: #ffffff;
}

.issue-list-entry .content {
    min-height: 4em;
    overflow: hidden;
    width: auto;
}

.issue-list-entry {
	padding: 25px;
	padding-bottom: 22px;
	margin: 20px 10px;
}

.issue-list-entry i {
	color: #9fd533;
	font-size: 16px;
	margin-top: 4px;
}

.issue-list-entry .content h1 {
    font-size: 15px;
}

.issue-list .state-control {
    margin-top: 32px;
    margin-bottom: 7px;
}

.issue-list .state-control .button {
    margin: 0px 10px;
}

.issue-list .state-control .button.active {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.pagination>li>a {
	color: #333333;
}

.pagination li {
	display: inline-block;
	width: 35px;
	height: 35px;
	margin: 0 5px;
}

.pagination li a {
	border-radius: 50% !important;
}

.pagination li a:hover {
	background-color: #9fd533;
    color: #ffffff;
}

.pagination li.dots a {
    border: 0;
    background-color: transparent;
}

.pagination li.dots a:hover {
    color:initial;
}

.pagination li.rltv {
	width: auto;
}

.pagination li.rltv a {
    border: 0;
    background-color: transparent;
}

.pagination li.rltv a:hover {
    border: 0;
    color:  #9fd533;
}

.pagination li.current a {
	background-color: #9fd533;
    color: #ffffff;
}

.comment-count {
    font-size: 13px;
    color: rgba(153, 153, 153, 255);
    text-align: left;
}

.comment-count .icon {
    margin: 0 5px;
}

.issue-list-entry .content {
	/* padding: 25px; */
	/* padding-bottom: 22px; */
}

.issue-list-entry .content h1 {
	margin: 5px;
}

.issue-list-entry .content h1 a {
	color: #333333;
}

.issue-list-entry .info {
    margin: 5px;   
}

.left-block {
    height: 100%;
    overflow: hidden;
}

.issue-list {
    height: calc(100% - 15%);
}

.scrollable {
    overflow-y: scroll;    
}

.scrollable::-webkit-scrollbar
{
	width: 6px;
	background-color: $background_color;
}

.scrollable::-webkit-scrollbar-thumb
{
	border-radius: 3px;
    background-color: #b8b8b8;
}

.right-block {
	background-image: url('/static/img/a_man_squatting_on_a_plank_100opacity.png');
	height: 100%;
	padding: 0px;
	background-size: cover;
	background-position: center center;
}

.right-block .overlay,
.viewport.main .overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(12, 13, 35, 0.95);
	opacity: 0.8;
}

.overlay-as-title,
.overlay-as-login-controls {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.overlay-as-title h1 {
    font-size: 46px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    width: 100%;
}

.overlay-as-title h1 .subtitle {
	font-size: 20px;
	margin: 25px 0px;
}

.overlay-as-title h1 .subtitle img {
	margin-left: 7px;
	vertical-align: initial
}

/*
    Overriding Bootstrap negative margins ...
    How does this even work in real life ?
    A printer printing outside the edges of paper :D ???
*/
.content-block.row {
    margin-left:0px;
    margin-right:0px;
}

/* 
    Because BS negative margins on .row 
    are causing a horizontall scroll
*/
.scrollable .container {
    width: calc(100% - 30px); 
}

.viewport.main {
	background-image: url('/static/img/a_man_squatting_on_a_plank_in_the_distance_100opacity.png');
	height: 100%;
	padding: 0px;
	background-size: cover;
	background-position: center center;    
}

.btn-login-with-github {
	padding: 18px 117px;
	font-size:15px;
	font-weight: bold;
	color: #ffffff;
	background-color: #9fd533;
	border: none;
    margin: 30px;
}

.btn-login-with-github:hover {
    background-color: #86b300;
	color: #ffffff;
}

.viewport.main .logo-placeholder {
    margin: 30px;    
}

.comment-entry {
    margin-bottom: 15px; 
    margin-bottom: 10px;
}

@media (max-width:767px) {
    h1.issue-title {
        font-size: $h1_issue_list_font_size * $xs_hX_font_size_ratio;
    }
    
    .comment {
        width: 100%;
    }
    
    .comment-entry {
        box-shadow: 0 0 2px #B2B2B2;
        border-radius: $box_border_radius;
    }
    
    .comment-wrapper {
        border-radius: $box_border_radius;
    }
}

@media (min-width:768px) {
	.overlay-as-title {
		zoom:0.5;
	   -moz-transform: scale(0.5);
       -moz-transform-origin: 0 0;
	}
    
    /* https://stackoverflow.com/a/8867645/1597960 */
    .bubble {
        border-radius: $box_border_radius;
        box-shadow: 0 0 2px #B2B2B2;
        display: inline-block;
        /* padding: 21px 20px; */
        position: relative;
        vertical-align: top;
    }

    .bubble::before {
        background-color: inherit;
        content: "\00a0";
        display: block;
        height: 15px;
        position: absolute;
        top: 25px;
        transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 45deg );
        width: 15px;
    }

    .bubble.pointed-left {
        float: left;
        margin: 1px 5px 5px 20px;
    }

    .bubble.pointed-left::before {
        box-shadow: -1px 1px 1px 0 rgba( 178, 178, 178, .4 );
        left: -7px;
    }
}

@media (min-width:992px) {
	.overlay-as-title {
		zoom:0.75;
	   -moz-transform: scale(0.75);
       -moz-transform-origin: 0 0;
	}
}

@media (min-width:1200px) {
	.overlay-as-title {
		zoom:1;
	   -moz-transform: scale(1);
       -moz-transform-origin: 0 0;
	}
}
